<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400|Antic+Slab" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" />
    {% block head %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9">
    <title>{% block page_title %}Felipe Martin - fmartingr.com{% endblock %}</title>
</head>
<body class="{{ section }}">
    <section class="sidebar">
        <header class="text-center">
            <a href="/">
                <div class="logo">
                    Felipe<br />
                    M<div class="hacker-icon">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    </div>rt&iacute;n
                </div>
            </a>
            <div class="slogan alt-font">
                Be incomprehensible.<br />
                If they can't understand, <br />
                they can't disagree.
            </div>
        </header>
        <nav class="zone-menu buttons">
            {% block menu %}
            <header>{{ section|capitalize }}</header>
            {% endblock %}
        </nav>
        <div class="menu buttons">
            {% block sections %}
                {% if section != 'blog' %}
                <a href="{{ url('blog_list') }}">
                    <button class="blog">
                        <i class="icon icon-comment-alt"></i> Blog
                    </button>
                </a>
                {% endif %}
                {#
                {% if section != 'projects' %}
                <a href="#">
                    <button class="projects">
                        <i class="icon icon-folder-open"></i> Projects
                    </button>
                </a>
                {% endif %}
                #}
            {% endblock %}
        </div>
        <footer class="text-center">
            <div class="social buttons">
                <a href="//twitter.com/fmartingr">
                    <button class="twitter">
                        <span class="icon icon-twitter"></span> Twitter
                    </button>
                </a>
                <a href="//github.com/fmartingr">
                    <button class="github">
                        <span class="icon icon-github"></span> Github
                    </button>
                </a>
                <a href="mailto:fmartingr@me.com">
                    <button class="email">
                        <span class="icon icon-envelope"></span> Email
                    </button>
                </a>
            </div>
            <div class="zombiepress">
                <a href="http://github.com/fmartingr/zombiepress" class="">
                    Made with Zombiepress
                </a>
            </div>
        </footer>
    </section>
    <section class="content">
        {% block content %}{% endblock %}
    </section>
    {% block footer %}
    {% endblock %}
</body>
</html>
