{% extends "_layout.jinja2" %}

{% block content %}
<article class="blog-entry {% if item.draft %}draft{% endif %}">
    <h1 class="entry-title">
        <a class="dark" href="#">{{ item.title }}</a>
    </h1>

    <div class="info text-left">
        <i class="icon-user"></i> {{ item.author.first_name }}
        &nbsp;
        <i class="icon-calendar"></i> 
        <time datetime="{{ item.date }}" 
            pubdate="" 
            data-updated="true">{{ item.date|dt('%B %e, %Y') }}</time>
        &nbsp;
        <i class="icon-comment-alt"></i> <a href="#disqus">0 Comments</a>
    </div>
    <div class="content">{{ item.content|safe }}</div>
    {% if config.disqus_shortname %}
    <hr />
    <div class="comments" id="disqus_thread"></div>
    {% endif %}
</article>
{% endblock %}

{% block footer %}
{{ super() }}
{% if config.disqus_shortname %}
<script type="text/javascript">
var disqus_shortname = '{{ config.disqus_shortname }}';
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
{% endif %}
{% endblock %}
