{% extends "_layout.jinja2" %}

{% block page_title %}Blog{% endblock %}

{% block head %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css" />
<link rel="stylesheet" href="/static/css/syntax.min.css" />
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.js"></script>
{% endblock %}
